version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2204:2024.01.1
    steps:
      - checkout

      - run:
          name: Build Docker Image
          command: |
            docker build -t www-nodejs .

      - run:
          name: Install curl
          command: |
             sudo apt-get update && sudo apt-get install -y curl

      - run:
          name: Run Docker Container
          command: |
            docker run -d --name www-nodejs-container -p 8000:3000 www-nodejs

      - run:
          name: Wait for Application to Start
          command: |
            sleep 10 # Attend quelques secondes pour permettre au serveur de démarrer

      - run:
          name: Test Application Route
          command: |
            curl --retry 10 --retry-delay 5 --retry-connrefused http://localhost:8000/
            # Remplacez "/route" par la route spécifique que vous souhaitez tester
            # Assurez-vous que le port mappé ici (8000) correspond au port exposé par votre conteneur

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
